@charset "UTF-8";

body{
    background-image: linear-gradient(to right, #FFDC52, #F3B226, #F9BE33);
}

main{
    background-color: rgb(2255, 255, 255);
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 10px #F2E327;
    border-radius: 15px;
}

h1{
    color: #F29727;
    text-shadow: 10px 10px 10px #F2CB78;
}

h2{
    color: #a07a27;
}

h3{
    color: #F27427;
}

p{
    text-align: justify;
}